# sample .gitconfig file of mine
#
# last update: 2013.04.03.

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	ll = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[user]
	name = Sungjin Han
	email = meinside@gmail.com
[color]
	ui = auto

