# git ignore file of meinside@gmail.com
# last update: 2013.04.09.

# unnecessary binary files
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.class

# swap files
*.swp
*~.nib

# cache files/dirs
.cache

# xcode files
build/*
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
xcuserdata

# other scm files
.svn
.cvs

# osx files
.DS_Store
.AppleDouble
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items

# temp files/dirs
tmp
backups

# ruby files/dirs
ruby
rails
.irb-history
.irb_history

# node files/dirs
node
.npm
node_modules

# other src files
public_html

# X files
.Xauthority
.config/
.dbus/
.gstreamer-0.10/
.local/
.xsession-errors

# private files (ignored for customizing)
.gitconfig
.custom_aliases
.conf/*.yml

# etc. files/dirs
.bash_history
.mysql_history
.lesshst
.Rhistory
.vim
.ssh
.gem
.viminfo
.bash_logout
.profile
.subversion

