# git ignore file of meinside@gmail.com
# last update: 2012.06.01.

# unnecessary binary files
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.class

# swap files
*.swp
*~.nib

# xcode files
build/*
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
xcuserdata

# other scm files
.svn
.cvs

# osx files
.DS_Store

# temp files/dirs
tmp

# etc. files/dirs
.bash_history
.mysql_history
.irb-history
.irb_history
.vim
.ssh
.gem
.viminfo
.bash_logout
.profile
ruby
rails
public_html
bin/configs.yml

