# git ignore file of meinside@gmail.com
# last update: 2015.08.18.

# unnecessary binary files
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.class

# swap files
*.swp
*~.nib

# cache files/dirs
.cache

# other scm files
.cvs
.svn

# osx files
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
Network Trash Folder
Temporary Items

# temp files/dirs
backups
tmp
.rpi-firmware

# go files/dirs
.gore/

# node files/dirs
.npm
node
node_modules

# ruby files/dirs
.bundle
.bundler

# other src files
public_html
srcs

# X files
.dbus/
.local/
.xsession-errors
.Xauthority

# private/config files & dirs
.config/
.custom_aliases
.gist-vim
.gitconfig
.gtmx.json
.gnupg
.oh-my-zsh/

# history files
.*history
.dbshell

# etc. files/dirs
.bash_logout
.fontconfig/
.gem
.lesshst
.lnav/
.ngrok2/
.profile
.qws
.rnd
.ssh
.subversion
.vim
.viminfo
.w3m/
.zcompdump-*
.zsh-update
mbox

# data dir
files

