---
email:
  notification:
    gmail_sender:
      username: _gmail_username_
      passwd: _gmail_passwd_
    recipient:
      email: _recipient_email_address_
aws:
  s3:
    access_key_id: MY_ACCESS_KEY_ID
    secret_access_key: MY_SECRET_ACCESS_KEY
dropbox:
  app_key: MY_APP_KEY
  app_secret: MY_APP_SECRET
  access_type: :dropbox or :app_folder
  access_token: SESSION_TOKEN_RETRIEVED_FROM_AUTHORIZATION
  access_secret: SESSION_SECRET_RETRIEVED_FROM_AUTHORIZATION
